<%- include('EJS/head.ejs') %>
</head>

<body>
    <%- include('EJS/navigation.ejs') %>
    <h1>Some error occured</h1>
    <p>we are fixing the issue,soory for the inconvienience</p>

<%- include('EJS/end.ejs') %>